{% extends "default.html" %}
{% block title %}Firmware Details{% endblock %}

{% block nav %}{% include 'firmware-nav.html' %}{% endblock %}

{% block content %}

{% if reports|length > 0 %}

{% for r in reports %}
<div class="card mb-3">
  <h2 class="card-header card-title list-group-item-{{r.color}}">
    {{r.fw.vendor.display_name}} {{r.fw.names|join(' & ')}}
    <code class="float-right">{{format_humanize_naturaltime(r.timestamp)}}</code>
  </h2>
  <div class="card-body">
{% if r.user_id %}
    <p class="text-muted card-text">
      The QA URL for this report is <code>{{url_for('reports.route_share', _external=True, _scheme='https', report_id=r.report_id, guid=r.get_attribute_by_key("Guid").value)}}</code>
      which can be used for certification submissions.
      Requesting data from this URL requires authentication using a username and token.
    </p>
{% endif %}
    <table class="table">
{% if r.user_id %}
      <tr class="row table-borderless">
        <th class="col col-sm-4">Uploader</th>
        <td class="col col-sm-8">
{% if g.user.check_acl('@admin') %}
          <code>{{r.user.username}} ({{r.user.vendor.display_name}})</code>
{% else %}
          {{r.user.vendor.display_name}}
{% endif %}
        </td>
      </tr>
{% endif %}
{% for attr in r.attributes|sort %}
      <tr class="row table-borderless">
        <th class="col col-sm-4">{{attr.key}}</th>
        <td class="col col-sm-8"><code>{{attr.value}}</code></td>
      </tr>
{% endfor %}
    </table>
{% if g.user.check_acl('@admin') %}
    <form action="{{url_for('reports.route_delete', report_id=r.report_id)}}" method="POST">
      <a class="card-link btn btn-info" href="{{url_for('reports.route_view', report_id=r.report_id)}}">As JSON</a>
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <button class="card-link btn btn-danger float-right">Delete</button>
    </form>
{% endif %}
  </div>
</div>
{% endfor %}

{% else %}

<div class="alert alert-info" role="alert">
  No reports found.
</div>

{% endif %}

{% endblock %}
