{% extends "default.html" %}
{% block title %}Protocol Details{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Protocol Details</h2>
<form method="post" action="{{url_for('protocols.route_modify', protocol_id=protocol.protocol_id)}}">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
  <div class="form-group">
    <label for="value">Value:</label>
    <input type="text" class="form-control" id="value" name="value" value="{{protocol.value}}" required />
  </div>
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" name="name" value="{{protocol.name if protocol.name}}" required />
  </div>
  <div class="form-group">
    <label for="fallback_id">Icon:</label>
    <select class="form-control" name="icon">
      <option value="" {{ 'selected' if not protocol.icon }}>none</option>
{% for icon in icons %}
      <option value="{{icon}}" {{ 'selected' if protocol.icon == icon }}>
        {{ icon}}
      </option>
{% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="verfmt_id">Version Format:</label>
    <select class="form-control" id="verfmt_id" name="verfmt_id">
      <option value="0" {{ 'selected' if protocol.verfmt_id == 0 }}>no restriction</option>
{% for verfmt in verfmts %}
      <option value="{{verfmt.verfmt_id}}" {{ 'selected' if protocol.verfmt_id == verfmt.verfmt_id }}>{{verfmt.value}}</option>
{% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="is_public">
      <input class="checkbox" type="checkbox" id="is_public" name="is_public" value="1" {{'checked' if protocol.is_public}} />
      Firmware protocol is public
    </label>
  </div>
  <div class="form-group">
    <label for="require_report">
      <input class="checkbox" type="checkbox" id="require_report" name="require_report" value="1" {{'checked' if protocol.require_report}} />
      Firmware requires a successful fwupd report before being promoted to stable
    </label>
  </div>
  <div class="form-group">
    <label for="is_signed">
      <input class="checkbox" type="checkbox" id="is_signed" name="is_signed" value="1" {{'checked' if protocol.is_signed}} />
      Cryptographically signed images or transfer, e.g. GPG, PKCS-7, X509
    </label>
  </div>
  <div class="form-group">
    <label for="is_transport">
      <input class="checkbox" type="checkbox" id="is_transport" name="is_transport" value="1" {{'checked' if protocol.is_transport}} />
      Is only a generic transport, which can transport a signed or unsigned firmware payload.
    </label>
  </div>
  <div class="form-group">
    <label for="can_verify">
      <input class="checkbox" type="checkbox" id="can_verify" name="can_verify" value="1" {{'checked' if protocol.can_verify}} />
      Can verify checksum on device
    </label>
  </div>
  <div class="form-group">
    <label for="allow_custom_update_message">
      <input class="checkbox" type="checkbox" id="allow_custom_update_message"
             name="allow_custom_update_message" value="1"
             {{'checked' if protocol.allow_custom_update_message}} />
      Can use custom update message text.
    </label>
  </div>
  <div class="form-group">
    <label for="allow_device_category">
      <input class="checkbox" type="checkbox" id="allow_device_category"
             name="allow_device_category" value="1"
             {{'checked' if protocol.allow_device_category}} />
      Can use X-Device category.
    </label>
  </div>
  <div class="form-group">
    <label for="signing_algorithm">Signing Algorithm:</label>
    <input type="text" class="form-control" id="signing_algorithm" name="signing_algorithm"
           placeholder="SHA-256 RSA-3072"
           value="{{protocol.signing_algorithm if protocol.signing_algorithm}}" />
  </div>
  <div class="form-group">
    <label for="update_request_id">Update Request ID:</label>
    <input type="text" class="form-control" id="update_request_id" name="update_request_id"
           placeholder="org.freedesktop.fwupd.request.remove-device"
           value="{{protocol.update_request_id if protocol.update_request_id}}" />
  </div>
  <div class="form-group">
    <label for="update_message">Update Message:</label>
    <input type="text" class="form-control" id="update_message" name="update_message"
           placeholder="The update will continue when the device USB cable has been unplugged."
           value="{{protocol.update_message if protocol.update_message}}" />
  </div>
  <div class="form-group">
    <label for="update_image">Update Image:</label>
    <input type="text" class="form-control" id="update_image" name="update_image"
           placeholder="https://cdn.fwupd.org/..." value="{{protocol.update_image if protocol.update_image}}" />
    <p class="text-secondary">
      Hint! Only use URLs here from the CDN as they are not automatically mirrored.
    </p>
  </div>
  <div class="form-group">
    <label for="has_header">
      <input class="checkbox" type="checkbox" id="has_header" name="has_header" value="1" {{'checked' if protocol.has_header}} />
      Has header or footer requirement that can be tested, e.g. <code>CAPSULE_HEADER</code> or <code>UFD</code>
    </label>
  </div>
  <div class="form-group">
    <label for="comment">Comment:</label>
    <textarea class="form-control" name="comment" id="comment" cols="100" rows="4">{{protocol.comment if protocol.comment}}</textarea>
  </div>
  <input type="submit" class="card-link btn btn-primary" value="Save">
  <button type="button" class="card-link btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
</form>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Current flags</h2>
{% if protocol.device_flags|length == 0 %}
    <p class="text-muted">No flags can be added by firmware using this protocol.</p>
{% endif %}
<table class="table">
{% if protocol.device_flags|length %}
  <tr class="row table-borderless">
    <th class="col col-sm-5">Value</th>
    <th class="col col-sm-5">Added by</th>
    <th class="col col-sm-2">&nbsp;</th>
  </tr>
{% endif %}
{% for pdf in protocol.device_flags %}
  <tr class="row">
    <td class="col col-sm-5"><code>{{pdf.value}}</code></td>
    <td class="col col-sm-5">{{pdf.user.username}} {{format_humanize_naturaltime(pdf.ctime)}}</td>
    <td class="col col-sm-2">
{% if g.user.check_acl('@admin') %}
      <form action="{{url_for('protocols.route_flag_delete', protocol_id=protocol.protocol_id, protocol_device_flag_id=pdf.protocol_device_flag_id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="btn-block btn btn-danger">Delete</button>
      </form>
{% endif %}
    </td>
  </tr>
{% endfor %}
<form method="post" action="{{url_for('protocols.route_flag_create', protocol_id=protocol.protocol_id)}}">
<input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
  <tr class="row table-borderless">
    <td class="col col-sm-10">
      <input type="text" class="form-control" name="value" value="" placeholder="upgradable..." required>
    </td>
    <td class="col col-sm-2"><input type="submit" class="btn-block btn btn-primary" value="Add"></td>
  </tr>
</form>
</table>
  </div>
</div>

<!-- modal dialog -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Really Delete Protocol?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Once deleted, protocols can not be recovered.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="{{url_for('protocols.route_delete', protocol_id=protocol.protocol_id)}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
